* /*Paramètres généraux*/
body 
{
	font-family: "Raleway", sans-serif;
	width: 100%;
	margin:0 auto;
}
ul
{
	list-style-type: none;
	line-height: 1.8em;
}
h1{
	font-size: 20px;
}
h2
{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 40px;
}
h3
{
	font-size: initial;
}
h4
{
	font-size: initial;
	margin-left: 40px;
}
a
{
	text-decoration: none;
}
.nav a:hover{
	color: blue;
	border-top: 3px solid #2196f3;
}
header
{
	display: flex;
	justify-content: space-between;
	margin-left: 19px;
	margin-right: 60px;
	align-items: center;
	margin-bottom: 30px;
}
.logo
{
	width: 150px;
	padding-top: 10px;
}
.nav
{
	display: flex;
	justify-content: space-between;
	width: 310px;
}  
.nav span
{
	display: contents;
	padding-top: 43px;
}
.nav a
{
	color: black;
	text-decoration: none;
	margin-top: 20px;
	padding-top: 25px;
}
#sinscrire
{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
	margin: 0%
}
.Recherche i
{
	background-color: #F2F2F2;
	padding: 14px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
/*bouton recherche*/
input
{
	font-weight: bold;
	padding: 14px;
	width: 250px;
	border: 1px solid #F2F2F2;
}
button
{
	background-color: #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 120px;
	color: white;
	padding: 15px;
	border: 1px solid #F2F2F2;
}
/*Filtres*/
.filtres
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}
.filtres a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.filtres a:hover{
	background-color: #DEEBFF;
	border-radius: 50px;
}
.filtre
{
	border: 1px solid #DEEBFF;
	border-radius: 50px;
}
.filtres i
{
	color: blue;
	padding: 7px;
	background-color: #DEEBFF;
	border-radius: 40px;
}
span
{
	padding: 10px;
}
#p i
{
	background-color: #0065FC;
	color: white;
	border-radius: 20px;
}
#contenus
{
	margin-left: 19px;
	margin-right: 30px; 
}
#contenant
{
	margin-left: 20px;
	margin-right: 30px;
}
section
{
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 30px;
	width: 65%;
	padding-right: 10px;
	padding-left: 30px;
}
.image
{
	height: 110px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 210px;
}
.Hébergements
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.hbg a
{
	color: black;
	text-decoration: none;
}
.hbg
{
	background-color: white;
	border-radius: 20px;
	padding: 4px;
	margin-bottom: 25px;
}
.hbg:hover{
	transform: scale(1.1);
}
.hbg p
{
	font-weight: bold;
	margin-left: 14px;
}
sub
{
	font-weight: normal;
}
.icons-étoiles
{
	padding-left: 13px;
	color: #0065FC;
	padding-bottom: 5px;
}
#plus
{
	padding-left: 15px;
}
#plus p
{
	font-weight: bold;
	color: black;
}
.populaires
{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.populaire
{
	background-color: white;
	padding: 6px;
	border-radius: 20px;
	margin-bottom: 35px;
	font-weight: bold;
}
.populaire:hover{
	transform: scale(1.1);
}
.populaire a
{
	text-decoration: none;
	color: black;
}
.popu
{
	display: flex;
	width: 150px;
	border-top-left-radius: 15px;
	height: 130px;
	float: left;
	margin-right: 20px;
	border-bottom-left-radius: 15px;
}
.Activités
{
	display: flex;
	justify-content: space-around;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.Activité
{
	border-radius: 20px;
	box-shadow: 5px 2px 2px 2px #F2F2F2;
	margin-bottom: 50px;
}
.Activité:hover{
	transform: scale(1.1);
}
.act
{
	width: 302px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 300px;
}
.union
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.acts
{
	width: 302px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 110px;
}
.Activité p
{
	font-weight: bold;
	color: black;
	margin-left: 8px;
}
aside
{
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 30px;
	width: 27%;
}
aside h2
{
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
	margin-left: 20px;
}
main
{
	display: flex;
	justify-content: space-between;
	margin-right: 31px;
	margin-left: 31px;
}
footer
{
	background-color: #F2F2F2;
}
#info
{
	display: flex;
	justify-content: space-between;
}
.titre
{
	margin-right: 190px;
}
@media all and (min-width: 700px) and (max-width: 1024px){
	header{
		margin-right: 18px;
		margin-left: 13px;
		margin-bottom: 30px;
	}
	#contenus{
		margin-left: 5px;
		margin-right: 5px;
	}
	#contenant{
		margin-left: 10px;
	}
	.filtres{
		width: 100%
	}
	main{
		display: flex;
		flex-direction: column-reverse;
	}
	section{
		padding-left: 0px;
		padding-right: 5px;
		width: 100%;
	}
	.Hébergements{
		justify-content: space-around;
	}
	aside{
		width: 100%;
		padding-left: 5px;
		margin-right: 2px;
		padding-right: 0px;
	}
	aside h2{
		padding-right: initial;
		margin-left: 16px;
		padding-right: 22px;
	}
	.populaires{
		padding: initial;
		padding-left: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-right: 13px;
	}
	.populaire p{
		padding-left: 10px;
	}
	.populaire{
		width: 205%
	}
	.populaire .popu{
		float: initial;
		margin-right: initial;
		width: 206px;
		height: 135px;
		border-bottom-left-radius: initial;
		border-top-right-radius: 15px;
	}
	article h2{
		margin-left: 60px;
	}
	.Activités{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 80%;
		margin-left: 30px;
	}
	.union{
		display: block;
	}
	.Activité{
		margin-bottom: 50px;
		height: min-content;
	}
	.Activité p{
		margin-left: 15px;
		margin-bottom: initial;
		padding-bottom: 10px;
	}
	.Activité .act{
		width: 240px;
		height: 140px;
	}
	footer{
		width: 100%
	}
	#info{
		padding-bottom: 10px;
	}
	.titre{
		margin-left: initial;
		margin-right: 40px;
	}
}